/*

===========
Vincent Tran
September 4 2018
*/
/* CSS for Site 1 */
*{
  margin:0;
  padding:0;
}

body{
  font-family: times, georgia;
}
nav{
  width:100%;
  height:60 px;
  background-color: grey;
}
nav p{
  font-family:arial;
  color:#222;
  font-size:24px;
  line-height: 55px;
  float:left;
  padding: 0px 20px;
}
nav ul{
  float:left;
}
nav ul li{
  float:left;
  list-style: none;
  position:relative;
}
nav ul li a{
  display:block;
  font-family:arial;
  color:#222;
  font-size:16px;
  padding : 22px 10px;
  text-decoration: none;
}
nav ul li ul{
  display:none;
  position:absolute;
  background-color:white;
  padding: 10px;
  border-radius:10px;
}
nav ul li:hover ul{
  display:block;
}

nav ul li ul li{
width:180px;
border-radius:4px;
}
nav ul li ul li a:hover {
background-color:#f3f3f3;
}
